<div style="width:80mm;margin:auto;">
  <div style="text-align:center;margin-top: 10px;">
    <img src="/assets/destreza-small-logo.png" alt="" height="100px;">
    <h3>Destreza POS</h3>
    <span>Mohakhali DOHS road: xx house: xxx</span>
  </div>
  <div style="padding: 5px;">
    <table>
      <thead>
        <tr>
          <th colspan="2">date of purchase: </th>
          <th colspan="2">22/04/2018 05:55pm</th>
        </tr>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Qty</th>
          <th style="text-align:right;">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td>Lorem ipsum dolor sit amet consectetur </td>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr>
          <td>10.</td>
          <td>adipisicing elit.</td>
          <td>2</td>
          <td>20</td>
        </tr>
        <tr>
          <td>1.</td>
          <td> Dolore est debitis adipisci harum a necessitatibus </td>
          <td>2</td>
          <td>200</td>
        </tr>
        <tr>
          <td>33.</td>
          <td>Item 1</td>
          <td>2</td>
          <td>20</td>
        </tr>
        <tr>
          <td>1.</td>
          <td>Item 1</td>
          <td>2</td>
          <td>2000.00</td>
        </tr>
      </tbody>
      <tfoot style="border-top-style: dotted;">
        <tr>
          <th colspan="3">sub Total</th>
          <th style="text-align:right;">100</th>
        </tr>
        <tr>
          <th colspan="3">VAT (15%)</th>
          <th style="text-align:right;">15</th>
        </tr>
        <tr>
          <th colspan="3">Discount</th>
          <th style="text-align:right;">15</th>
        </tr>
        <tr style="border-top-style: solid; font-size:12px;">
          <th colspan="3">Total</th>
          <th style="text-align:right;">10000.00</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div style="text-align:center;">
    <h3>### EXTRA CAUTION ###</h3>
    <small>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus ipsam ab consectetur iste est doloribus voluptatem sit odio inventore, eum, dolore architecto pariatur. Eos, ea laboriosam beatae aspernatur deleniti facere?
    </small>
  </div>
</div>
<div class="print-hidden" style="text-align:center;">
  <div class="btn-group" role="group" aria-label="First group">
    <a routerLink="/dashboard">
      <button type="button" class="m-btn btn btn-success">
        Back
      </button>
    </a>
    <button type="button" class="m-btn btn btn-warning">
      Save
    </button>
    <button type="button" class="m-btn btn btn-info" (click)="print()">
      Checkout
    </button>
  </div>
</div>