<div class="container text-center dashboard-list">
  <a routerLink="/report/profit-loss">
    <img src="/assets/images/dashboard-icon/icon_4.png" alt="">
    <span class="black">Profit Loss (P&L)</span>
  </a>
  <hr>
  <a routerLink="/report/profit-loss">
    <img src="/assets/images/dashboard-icon/icon_9.png" alt="">
    <span class="black">Balance Sheet</span>
  </a>
  <hr>
  <a routerLink="/report/profit-loss">
    <img src="/assets/images/dashboard-icon/icon_10.png" alt="">
    <span class="black">Ledger Statement</span>
  </a>
  <a routerLink="/report/profit-loss">
    <img src="/assets/images/dashboard-icon/icon_5.png" alt="">
    <span class="black">Ratio Analysis</span>
  </a>
</div>
