<header>
  <div class="menu-button" (click)="toggleDrawer()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</header>
<Nav>
  <div class="wrapper" [ngClass]="{'in': showDrawer && !pristineDrawer, 'out': !showDrawer && !pristineDrawer}">
    <div class="nav-header">
      <img class="logo" src="assets/destreza-small-logo.png" alt="Destreza Logo">
    </div>
    <div class="nav-body">
      <ul>
        <li (click)="toggleDrawer()"><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li (click)="toggleDrawer()"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li (click)="toggleDrawer()"><a routerLink="/login" routerLinkActive="active">Logout</a></li>
      </ul>
    </div>
    <div class="nav-footer"></div>
  </div>
  <div class="overlay" (click)="toggleDrawer()" [ngClass]="{'in': showDrawer}">
    <div class="menu-exit">X</div>
  </div>
</Nav>
<router-outlet></router-outlet>
