<header>
  <div class="menu-button" (click)="toggleDrawer()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</header>
<Nav>
  <div class="wrapper" [ngClass]="{'in': showDrawer && !pristineDrawer, 'out': !showDrawer && !pristineDrawer}">
    <div class="nav-header">
      <img class="logo" src="assets/destreza-small-logo.png" alt="Destreza Logo">
    </div>
    <div class="nav-body">
      <ul>
        <!-- <a routerLink="/" routerLinkActive="active">
          <li (click)="toggleDrawer()">Home</li>
        </a> -->
        <a routerLink="/dashboard" routerLinkActive="active">
          <li (click)="toggleDrawer()">Dashboard</li>
        </a>
        <a routerLink="/login" routerLinkActive="active">
          <li (click)="toggleDrawer()">Logout</li>
        </a>
        <a routerLink="/intro" routerLinkActive="active">
          <li (click)="toggleDrawer()">Intro</li>
        </a>
      </ul>
    </div>
    <div class="nav-footer">
      <span>Version beta-1.0.0</span>
      <br>
      <span>© FAHADBILLAH 2018</span>
    </div>
  </div>
  <div class="overlay" (click)="toggleDrawer()" [ngClass]="{'in': showDrawer}">
    <div class="menu-exit">X</div>
  </div>
</Nav>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
  <!-- BEGIN: Subheader -->
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title ">
          Dashboard
        </h3>
      </div>
      <div>
        <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
          <span class="m-subheader__daterange-label">
            <span class="m-subheader__daterange-title">Today</span>
            <span class="m-subheader__daterange-date m--font-brand">May 7</span>
          </span>
          <a href="" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
            <i class="la la-angle-down"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content">
    <router-outlet></router-outlet>
  </div>
</div>
