/* You can add global styles to this file, and also import other style files */

a {
  color: #efd638;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color: #efd638;
  border: 0.1rem solid #efd638;
  color: #000000 !important;
}

.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
  border-color: #efd638;
}

/* overriding milligram */

header{
  width: 100vh;
  height: 60px;
  background: #efd538;
  position: fixed;
  top: 0px;
  z-index: 1;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

nav>div.wrapper {
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #000000;
  z-index: 1001;
  top: 0px;
}

nav>div.wrapper.in {
    -webkit-animation: slide-in 0.3s forwards;
    animation: slide-in 0.3s forwards;
}

nav>div.wrapper.out {
  -webkit-animation: slide-out 0.3s forwards;
  animation: slide-out 0.3s forwards;
}

@-webkit-keyframes slide-in {
  100% {
    left: 0;
  }
}

@keyframes slide-in {
  100% {
    left: 0;
  }
}

@-webkit-keyframes slide-out {
  0% {
    left: 0px;
  }
  100% {
    left: -300px;
  }
}

@keyframes slide-out {
  0% {
    left: 0px;
  }
  100% {
    left: -300px;
  }
}

nav > div.wrapper > div{
    padding: 4px 16px 0px 16px;
}

nav>div.overlay {
  position: fixed;
  width: 100vh;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
  opacity: 0;
}

nav>div.overlay.in {
    display: block;
    -webkit-animation: show 0.3s forwards;
    animation: show 0.3s forwards;
}
@-webkit-keyframes show {
  100% {
    opacity: 1;
  }
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

.menu-button{
    position: fixed;
    top: 10px;
    left: 16px;
    height: 35px;
    widows: 35px;
}

.menu-button > div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.menu-exit{
    position: fixed;
    right: 0px;
    cursor: pointer;
    width: 57px;
    text-align: center;
    height: 100vh;
}

.nav-header {
  height: 150px;
  background: #efd538;
  position: relative;
}

.nav-header > .logo{
  border-radius: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  margin: auto;
}

.nav-body {
}

.nav-footer {
  position: absolute;
  bottom: 0px;
  height: 57px;
  text-align: right;
  width: 100%;
  border-top: 1px solid #efd638;
  
}

.nav-body ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-body ul > li{
  height: 57px;
  margin: 0;
  line-height: 2.3;
  font-size: 25px;
}

.nav-body ul a.active li {
  border-left: 5px solid #ffffff;
  padding-left: 10px;
  margin-left: -15px;
}

.main-content{
  position: absolute;
  top: 60px;
  width: 100%;
  left: 0px;
  padding-bottom: 50px;
}

.intro-nav{
  position: fixed;
  bottom: 0px;
}

.text-center{
  text-align: center
}

.text-right{
  text-align: right
}

.black{
  color: #000000;
}

.dashboard-list{
  padding-top: 10px;
  overflow-y: scroll;
}

.dashboard-list img{
  width: 100%;
}
